<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MissionControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="Profitect.LPSentinel.DI.DestinationConnectionString" connectionString="Data Source=srvdb;Initial Catalog=Profitect_DorAlon;Integrated Security=SSPI;" providerName="System.Data.OleDb" />-->
    <!--<add name="Profitect.LPSentinel.DI.SourceConnectionString" connectionString="Provider=SQLOLEDB;Data Source=srvdb;Persist Security Info=True;Password=profitect!2008!;User ID=sa;Initial Catalog=Profitect_DorAlon" providerName="System.Data.OleDb" />-->
    <!--<add name="LoggerConnection" connectionString="Data Source=.;Persist Security Info=True;Password=profitect!2010!;User ID=sa;Initial Catalog=ProfitectDB_MM" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="MaxRunningTasks" value="10" />
    <add key="MaxLoggerRunningThreads" value="2" />
    <add key="CultureInfo" value="en-US" />
    <add key="DIPluginsDirectory" value="D:\Profitect\DI Urban\Addins" />
    <add key="Mission" value="D:\Profitect\DI Urban\Mission Files\INV.xml" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ReloadMasterDataFiles" value="True" />
    <add key="DB_Logger_Connection_Attempts" value="30" />
    <add key="DB_Logger_Connection_TimeBetweenAttempts" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<system.diagnostics>
    <sources>
      -->
  <!-- This section defines the logging configuration for My.Application.Log -->
  <!--
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          -->
  <!-- Uncomment the below section to write to the Application Event Log -->
  <!--
          <add name="EventLog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      -->
  <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
  <!--
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Profitect" />
    </sharedListeners>
    <trace>
      <listeners>
        <add name="eventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Profitect.LPSentinel.Logging" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="OutputAppender" type="MissionControl.OutputAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %-5level: %message" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <reconnectonerror value="true" />
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;initial catalog=ProfitectDB_Urban;Integrated Security=SSPI;" />
      <!--<connectionString value="data source=192.168.2.73;initial catalog=ProfitectDB_MM;integrated security=false;persist security info=True;User ID=sa;Password=profitect!2010!"/>-->
      <commandText value="INSERT INTO Logging ([Timestamp],[Credentials],[LogLevel],[Message],[ExceptionMessage],[ProcNumber],[Context],[LoggerName],[LogLevelID]) VALUES (@log_date, @credentials, @log_level, @message, @exception, @procNumber, @context, 'DI@URBAN-SANDBOX', @logLevelID)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@procNumber" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{procNumber}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@context" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{context}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logLevelID" />
        <dbType value="String" />
        <size value="1" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{logLevelID}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@credentials" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{credentials}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="OutputAppender" />
    </root>
    <!-- Specify the level for some specific categories -->
    <logger name="TaskFlowLogger" additivity="true">
      <!--<appender-ref ref="EventLogAppender" />-->
      <!--<appender-ref ref="OutputAppender" />-->
    </logger>
    <logger name="TaskErrorLogger" additivity="true">
      <!--<appender-ref ref="EventLogAppender" />-->
      <!--<appender-ref ref="OutputAppender" />-->
    </logger>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MissionControl.Properties.Settings>
      <setting name="IsDepencencyDrawnAsLines" serializeAs="String">
        <value>True</value>
      </setting>
    </MissionControl.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
     <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
